{% extends 'index.html' %}
{% block content %}
<style>
  .input {
  padding-right: 0;  
  padding-left: 0;
}
</style>

 <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Inventory</h1>
  </div>

{% include 'notifications.html' %}

<div class="container-fluid">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
      <th scope="col">ISBN</th>
      <th scope="col">Publisher</th>
      <th cope="col">Holdings</th>
      <th cope="col">Update Inv.</th>
      <th cope="col">Update</th>
      <th cope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    
    {% for x in data %}
    <form method="POST" action="{{ url_for('admin.inventory_post') }}">
        <tr>
            <td>{{ x.bookID }} </td>
            <td>{{ x.title }} </td>
            <td>{{ x.authors }}</td>
            <td>{{ x.isbn }}</td>
            <td>{{ x.publisher }}</td>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BID{{ x.bookID }}">
                View Stock
              </button>
              <!-- The Modal -->
              <div class="modal" id="BID{{ x.bookID }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Inventory Summary</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                       <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for items in x.inventory %}
                          <tr>
                            <td>{{ items.stock|capitalize }}</td>
                            <td>{{ items.stock_count|capitalize }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              {% for items in x.inventory %}
                {% if items.stock == 'In Stock' %}
                  <input type="text" class="form-control col-sm-6" name="inventory"/>
                {% endif %}
              {% endfor %}
            </td>
            <td>
                <button onclick="update_validation()" type="submit" class="btn btn-success" name="update" value="{{ x.BID }}">Update</button>
            </td>
            <td>
                <button onclick="delete_validation()" type="submit" class="btn btn-danger" name="delete" value="{{ x.BID }}">Delete</button>
            </td>
        </tr>
    </form>        
    {% endfor %}

    </tr>
  </tbody>
</table>
</div>
<script type="text/javascript">
function update_validation() {
  var info = "This will increase the stock count of the book.\n If you want to decrease the count, please select delete button.\n Are you sure you want to do this?";
  alert(info);
}
function delete_validation() {
  var info = "This will decrease the stock count of the book.\n If you want to increase the count, please select update button.\n Are you sure you want to do this?";
  alert(info);
}
</script>
{% endblock %}