{% extends 'index.html' %}
{% block content %}
<style>
  .input {
  padding-right: 0;  
  padding-left: 0;
}
</style>

<!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Popular Book Report</h1>
     <!-- <form method="POST" action= > -->
        <button type="submit" name="download" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-file-download fa-sm text-white-50"></i>&nbsp;  Download</button>
        <button type="submit" name="view" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i>&nbsp;  View</button>
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal" data-target="#graph">
            Display Graph
        </button>
    </form> 
    
  </div>

{% include 'notifications.html' %}

<div class="container-fluid">
  <table class="table table-striped">
     <thead>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Publishers</th>
        <th>In Stock</th>
        <th>Issued</th>
      </tr>
    </thead>
    <tbody>
      {% for x in data %}
      <tr>
          <td>{{ x.title }}</td>
          <td>{{ x.authors }}</td>
          <td>{{ x.publisher }}</td>
          {% set ns = namespace(total=0) %}
          {% for items in x.inventory %}
            {% if items['stock'] == "In Stock" or items['stock'] == "returned"   %}
              {% set ns.total = ns.total|int + items['stock_count']|int %}
            {% endif %}
          {% endfor %}

            <td>{{ns.total }}</td>

          {% for items in x.inventory %}
            {% if items['stock'] == "issued"   %}
              <td>{{ items.stock_count }}</td>
            {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
   

{% endblock %}