{% extends 'index.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Settings</h1>
</div>

{% include './notifications.html' %}

<div class="container-fluid">
    <form method="POST" action="{{ url_for('admin.settings_post') }}">
        <div class="form-group row">
            <label for="validityPeriod" class="col-sm-2 col-form-label">Validity Period</label>
            <div class="col-sm-10">
            <input type="text" class="form-control col-sm-4" name="validityPeriod" id="validityPeriod" value="0">
            <small id="passwordHelpBlock" class="form-text text-danger">
                Enter Validity in term of days.
            </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="atbc" class="col-sm-2 col-form-label">Amount to be Charged</label>
            <div class="col-sm-10">
            <input type="text" class="form-control col-sm-4" name="amountToCharge" id="atbc" value="0">
            <small id="passwordHelpBlock" class="form-text text-danger">
                Enter Amount to be charged per day.
            </small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        </form>
</div>
<div class="container-fluid">
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Validity</th>
            <th scope="col">Charges</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td> {{ exsisting_settings.validity }}</td>
            <td> {{ exsisting_settings.charges }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}